<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>news.com.au stories</h1>
    <% stories.forEach(story => { %>
        <div class="story">
            <a href="<%= story.link %>" target="_blank"><%= story.heading %></a>
        </div>
    <% }) %>
</body>
</html>